<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Web PDF Generator</title>
	<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/socket-listener.js"></script>
</head>
<body>
	The URL was successfully submitted! <br> 
	Don't close this page - your PDF file will be ready in a few seconds... :)
	<br>            
	<table>
		<tbody id="messages">
	    </tbody>
	</table>
</body>
</html>